<template>
  <div class="q-pa-md items-start q-gutter-md">
    <q-card class="bg-blue-1" flat bordered>
      <q-card-section>
        <q-breadcrumbs class="text-black" active-color="primary">
          <template v-slot:separator>
            <q-icon size="1.2em" name="arrow_forward" color="black" />
          </template>

          <q-breadcrumbs-el to="/" label="Consulta Usuarios" icon="search" />
          <q-breadcrumbs-el :label="nameBread" :icon="icon" />
        </q-breadcrumbs>
      </q-card-section>
    </q-card>

    <q-card class="bg-blue-1" flat bordered>
      <q-card-section>
        <div class="text-h6 text-center">
          <q-icon name="far fa-list-alt" style="font-size: 25px;" />
          {{ namePage }}
        </div>
      </q-card-section>

      <q-form @submit="salvar()" @reset="limpar()" ref="form">
        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-12 col-md-4">
              <q-input
                required
                dense
                outlined
                lazy-rules
                ref="nome"
                bg-color="white"
                label="Nome Usuário *"
                v-model="usuario.nome"
              />
            </div>

            <div class="col-12 col-md-2">
              <pd-cpf-cnpj
                required
                lazy-rules
                ref="cpf"
                label="CPF *"
                icon="true"
                v-model="usuario.cpf"
                :cpfCnpj="usuario.cpf"
                :rules="[myRules]"
              />
            </div>

            <div class="col-12 col-md-2">
              <pd-date
                required
                lazy-rules
                label="Data Nascimento *"
                ref="data"
                :value="usuario.dataNascimento"
                :set="
                  v => {
                    usuario.dataNascimento = v;
                  }
                "
              />
            </div>
          </div>
        </q-card-section>

        <q-card-section>
          <q-btn
            dense
            glossy
            size="11px"
            type="submit"
            :color="color"
            :label="labelBottom"
            :icon="icon"
          />

          <q-btn
            dense
            glossy
            size="11px"
            type="reset"
            color="warning"
            label="Limpar"
            icon="fas fa-eraser"
            text-color="black"
            class="q-ml-md"
          />
        </q-card-section>
      </q-form>
    </q-card>
  </div>
</template>

<script>
import service from "@/service/usuarioService.js";
import notificacoes from "@/commons/notificacao.js";
import Usuario from "@/classes/Usuario";

export default {
  mixins: [service, notificacoes],
  data() {
    return {
      usuario: new Usuario(),
      namePage: null,
      icon: null,
      labelBottom: null,
      color: null,
      nameBread: null
    };
  },

  created() {
    this.usuario = this.$route.params.usuario;
  },

  mounted() {
    if (this.usuario.id != null) {
      this.nameBread = "Edição de Usuário";
      this.namePage = "Atualizar Usuário";
      this.icon = "update";
      this.labelBottom = "Atualizar";
      this.color = "primary";
    } else {
      this.usuario = new Usuario();
      this.nameBread = "Cadastro de Usuario";
      this.namePage = "Cadastrar Usuario";
      this.icon = "far fa-save";
      this.labelBottom = "Salvar";
      this.color = "green";
    }
  },

  methods: {
    myRules(val) {
      return !!val || "* Required";
    },

    salvar() {
      if (this.usuario.id == null) {
        this.$q.loading.show({ message: "Salvando Registros..." });
        this.salvarUsuario(this.usuario)
          .then(response => {
            this.$q.loading.hide();
            this.success("Registro Cadastrado com Sucesso!");
          })
          .catch(error => {
            if ((error.response.data.status = 409)) {
              notificacoes.methods.alert(
                "Certifique se o campo Nome contém caracteres númericos ou se a Data de Nascimento é uma data válida"
              );
              console.log(error.response.data.message);
            } else {
              notificacoes.methods.error("Falha ao cadastrar registro!");
            }
            this.$q.loading.hide();
          });
      } else {
        this.$q.loading.show({ message: "Atualizando Registros..." });
        this.atualizarUsuario(this.usuario)
          .then(response => {
            this.$q.loading.hide();
            notificacoes.methods.success("Registro Atualizado com Sucesso!");
            this.$router.push("/");
          })
          .catch(err => {
            if ((err.response.data.status = 409)) {
              notificacoes.methods.alert(
                "Certifique se o campo Nome contém caracteres númericos ou se a Data de Nascimento é uma data válida"
              );
              console.log(error.response.data.message);
            } else {
              notificacoes.methods.error("Falha ao atualizar registro!");
            }
            this.$q.loading.hide();
          });
      }
    },

    limpar() {
      this.usuario = new Usuario();
    }
  }
};
</script>
