<template>
  <div class="q-pa-md items-start q-gutter-md">
    <q-card class="bg-blue-1" flat bordered>
      <q-card-section>
        <q-breadcrumbs class="text-black" active-color="primary">
          <template v-slot:separator>
            <q-icon size="1.2em" name="arrow_forward" color="black" />
          </template>

          <q-breadcrumbs-el to="/inicio" label="Home" icon="home" />
          <q-breadcrumbs-el label="Pesquisar Usuários" icon="search" />
        </q-breadcrumbs>
      </q-card-section>
    </q-card>
    <q-card flat bordered class="bg-blue-1">
      <q-card-section>
        <div class="text-h6 text-center">
          <q-icon name="search" style="font-size: 25px;" />Consultar Usuários
        </div>
      </q-card-section>

      <q-form @submit="buscaUsuario()" @reset="limpar()">
        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-12 col-md-5">
              <q-input
                dense
                outlined
                bg-color="white"
                label="Nome Usuário"
                v-model="filtro.nome"
              />
            </div>
            <div class="col-12 col-md-3">
              <pd-cpf-cnpj
                label="CPF"
                v-model="filtro.cpf"
                :cpfCnpj="filtro.cpf"
              />
            </div>
          </div>
        </q-card-section>

        <q-card-section>
          <q-btn
            dense
            size="11px"
            glossy
            type="submit"
            label="Pesquisar"
            color="primary"
            icon="search"
          />
          <q-btn
            glossy
            dense
            size="11px"
            type="reset"
            label="Limpar"
            color="warning"
            icon="fas fa-eraser"
            text-color="black"
            class="q-ml-md"
          />
          <q-btn
            glossy
            dense
            size="11px"
            label="Cadastrar Usuário"
            color="green"
            icon="control_point"
            class="q-ml-md"
            :to="{
              name: 'formUsuario',
              params: { usuario: usuario }
            }"
          />
        </q-card-section>
      </q-form>
    </q-card>

    <q-card flat bordered class="bg-blue-1" v-if="tableVisivel">
      <q-table
        dense
        class="bg-blue-1"
        title="Usuários"
        :columns="columns"
        :data="listaUsuario"
        :filter="filter"
        table-header-class="bg-blue-3"
        rows-per-page-label="Registros por página"
        no-results-label="Nenhum Registro Encontrato"
        no-data-label="Nenhum Registro Encontrado"
      >
        <template v-slot:body-cell-acoes="props">
          <q-td :props="props">
            <q-btn
              flat
              dense
              size="sm"
              icon="fas fa-edit"
              color="primary"
              class="text-center"
              :to="{
                name: 'formUsuario',
                params: { usuario: props.row }
              }"
            >
              <q-tooltip
                anchor="top middle"
                self="bottom middle"
                :offset="[10, 10]"
                content-class="bg-blue-9 text-white"
                >Editar</q-tooltip
              >
            </q-btn>

            <q-btn
              flat
              dense
              size="sm"
              icon="fas fa-trash"
              color="negative"
              class="text-center"
              @click="excluir(props.row)"
            >
              <q-tooltip
                anchor="top middle"
                self="bottom middle"
                :offset="[10, 10]"
                content-class="bg-red-9 text-white"
                >Excluir</q-tooltip
              >
            </q-btn>
          </q-td>
        </template>

        <template v-slot:top-right>
          <q-input
            outlined
            borderless
            dense
            debounce="300"
            v-model="filter"
            placeholder="Buscar"
            style="width: 20 0px;"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
      </q-table>
    </q-card>
  </div>
</template>

<script src="@/statics/js/usuario.js" />
