<template>
  <q-input
    dense
    outlined
    bg-color="white"
    v-bind="$attrs"
    v-on="$listeners"
    :mask="mask"
    :error="!isValid"
    error-message="Número CPF/CNPJ inválido"
    unmasked-value
  />
</template>

<script>
import validate from "@/components/validation.js";
import mascara from "@/commons/mascara.js";

const cpfMaskFormat = "###.###.###-###";
const cnpjMaskFormat = "##.###.###/####-##";

export default {
  props: ["cpfCnpj"],
  data() {
    return {
      mask: cpfMaskFormat,
      isValid: true,
    };
  },

  watch: {
    cpfCnpj() {
      if (this.cpfCnpj.length > 11) {
        this.mask = cnpjMaskFormat;
        this.validarCpfCnpj(validate.validateCnpj, this.cpfCnpj, "cnpj");
      } else if (this.cpfCnpj.length <= 11) {
        this.mask = cpfMaskFormat;
        this.validarCpfCnpj(validate.validateCpf, this.cpfCnpj, "cpf");
      }
    },
  },

  methods: {
    validarCpfCnpj(validator, valid, tipo) {
      if (validator(valid)) {
        this.isValid = true;
      } else {
        this.isValid = false;
      }
    },
  },
};
</script>
