<template>
  <q-layout view="hHh LpR fff">
    <q-header reveal elevated class="text-black">
      <q-toolbar class="text-white header" style="height: 60px;">
        <q-btn
          flat
          @click="drawer = !drawer"
          round
          dense
          icon="menu"
          v-if="!$route.fullPath.includes('/usuario')"
        />

        <img src="../assets/logo.png" style="height: 25px;" />

        <q-toolbar-title>
          <div style="width: 50%">
            <router-link clickable to="/" tag="div" style="cursor: pointer;">
              <span class="desktop-only">{{ projectName }}</span>
              <span class="mobile-only">{{ projectNameMobile }}</span>
            </router-link>
          </div>
        </q-toolbar-title>

        <q-space />

        <div class="q-pa-md">
          <q-btn
            dense
            unelevated
            round
            icon="fa fa-user"
            v-if="!$route.fullPath.includes('/usuario')"
          >
          </q-btn>
        </div>
      </q-toolbar>

      <q-bar
        class="text-caption "
        style="height: 5px; background-color: #CD0000;"
      />
    </q-header>

    <!-- <menu-layout /> -->

    <q-footer elevated class="rodape">
      <q-toolbar>
        <q-toolbar-title>
          <div class="text-center desktop-only">
            <div>
              <small>{{ footerMessage }}</small>
              <div class="text-caption float-right q-pt-sm">
                <small>
                  <slot name="footer-right-text" v-bind:appVersion="appVersion"
                    >Versão {{ appVersion }}</slot
                  >
                </small>
              </div>
            </div>
          </div>
          <div class="text-center mobile-only">
            <small>{{ footerMessageMobile }}</small>
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";
import menuLayout from "../layouts/Menu.vue";

export default {
  components: {
    menuLayout
  },

  data() {
    return {
      drawer: true,
      miniState: false,
      projectName: process.env.VUE_APP_PROJECT_NAME
        ? process.env.VUE_APP_PROJECT_NAME
        : "DEFINIR NOME DO PROJETO NO ARQUIVO: .env",
      projectNameMobile: process.env.VUE_APP_PROJECT_NAME_MOBILE
        ? process.env.VUE_APP_PROJECT_NAME_MOBILE
        : "DEFINIR NOME DO PROJETO NO ARQUIVO: .env",
      footerMessage: process.env.VUE_APP_FOOTER_MESSAGE
        ? process.env.VUE_APP_FOOTER_MESSAGE
        : "DEFINIR RODAPE NO ARQUIVO: .env",
      footerMessageMobile: process.env.VUE_APP_FOOTER_MESSAGE_MOBILE
        ? process.env.VUE_APP_FOOTER_MESSAGE_MOBILE
        : "DEFINIR RODAPE NO ARQUIVO: .env"
    };
  },
  computed: {
    appVersion() {
      return process.env.VUE_APP_VERSION;
    }
  },
  methods: {
    openURL,
    updateState(newState) {
      this.miniState = newState;
    }
  }
};
</script>

<style lang="stylus" scoped>
.header{
  background-image: linear-gradient(black, black)
}

.barra{
  background-image: white
}

.rodape{
  background-image: linear-gradient(black, black)
}
</style>
